html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.header-section {
  background-color: #d0f1eb;
  padding: 32px 16px;
  width: 100%;
  display: flex;
  gap: 4%;
  align-items: center;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.profile-img {
  height: 50px;
  width: 50px;
  flex-basis: 15%;
}
.profile-img img {
  width: 100%;
  height: auto;
}
.welcome-section {
  flex-basis: 85%;
}
.welcome-section h2 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  color: #919191;
}
.balance {
  margin: 32px auto 16px auto;
  display: flex;
  align-items: center;
  gap: 2%;
  width: 90%;
  padding: 16px 8px;
  box-shadow: 0px 0 16px 0 rgb(145 145 145 / 52%);
  border-radius: 8px;
}
.wallet-img {
  width: 110px;
  height: 110px;
}
img {
  width: 100%;
  height: auto;
}
.text-content {
  flex-basis: 65%;
}
.balance-text {
  font-size: 1.6rem;
  color: #919191;
}

.money-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.money-up i {
  font-size: 1.6rem;
  color: #919191;
}
.money-text {
  font-size: 2rem;
  font-weight: 600;
}

.wallet-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wallet-icon {
  flex-basis: 80%;
  display: flex;
  align-items: center;
  gap: 3%;
}
.wallet-down .fa-angle-right {
  font-size: 1.6rem;
  color: #919191;
}
.wallet-down p {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.wallet-icon i {
  font-size: 1.6rem;
}
